.flexbox-container {
     display: flex;
     /* 横並びのベースラインをセンターに指示 */
     align-items: baseline;
     /* 画面左右のセンターに配置指示 */
     justify-content: center;
     /* ボタン間の長さを指示 */
     padding: 2px;
     margin: 100px;
}

.flexbox-item {
     padding: 2px;
}
