html {
    font-size: 20px;
}

body {
    font-family: "Meiryo", "Arial", sans-serif;
    /* 配置を中央にする */
    text-align: center;
}

.decoration {
    /* Googleフォントで文字種類のを指定しています */
    font-family: 'Josefin Sans', sans-serif;
    /* サイズをルート要素フォントの2倍にする */
    font-size: 2.5rem;
    /* 下線を引いてRGBで色を指定しています */
    border-bottom: solid 3px rgb(115,115,114);
    /* 文字の間隔(字間)を指定 */
    letter-spacing: 1.2em;
    /* 文字に影をつける */
    text-shadow: 1px 1px 2px gray;
}

.heading1 { 
    /* 以下はRGBで色を指定しています */
    color: rgb(255, 192, 203);
}

.paragraph1 {
    /* 文字を太字にする */
    font-weight: bold;
}

.heading2 {
    color:skyblue;
}

.paragraph2 {
    /* 文字を太字にする */
    font-weight: bold;
}

.heading3 {
    /* 以下はRGBで色を指定しています */
    color: rgb(255, 192, 203); 
}

.paragraph3 {
    /* 文字を太字にする */
    font-weight: bold;
}

.heading4 {
    color:skyblue;
}

.heading5 {
    color: rgb(255, 192, 203);
}

.heading6 {
    color:skyblue;
}
